* {
  /*background-alt:        @color1;      Buttons background */
  /*selected:              @color2;      Button selected */
  /*hover:                 @color5;      Hover button */
  /*urgent:                @color6;      Urgency critical */
  /*text-selected:         @background; */

  color: @text;

  all: unset;
  font-size: 16px;
  font-family: "SF Pro Display", "Iosevka";
  transition: 200ms;
}
