@define-color text @foreground;
@define-color background-alt @color1;
@define-color selected @color3;
@define-color hover @color5;
@define-color urgent @color2;

.notification-row {
	outline: none;
	margin: 0;
	padding: 0px;
}

.floating-notifications.background .notification-row .notification-background {
	background: alpha(@background, 0.55);
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.6);
	border: 2px solid @selected;
	border-radius: 9px;
	margin: 16px;
	padding: 0;
}

.floating-notifications.background .notification-row .notification-background .notification {
	padding: 6px;
	border-radius: 9px;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
	border: 2px solid @urgent;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
	margin: 14px;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* {
	min-height: 3.4em;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* .notification-action {
	border-radius: 9px;
	background-color: @background-alt;
	margin: 6px;
	border: 1px solid transparent;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* .notification-action:hover {
	background-color: @hover;
	border: 1px solid @selected;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* .notification-action:active {
	background-color: @selected;
	color: @background;
}

.image {
	margin: 5px 10px 5px 0px;
	border-radius: 9px;
}

.summary {
	font-weight: 800;
	font-size: 1.3rem;
}

.body {
	font-size: 1.1rem;
}

.floating-notifications.background .notification-row .notification-background .close-button {
	margin: 6px;
	padding: 2px;
	border-radius: 9px;
	background-color: transparent;
	border: 1px solid transparent;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
	background-color: @selected;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
	background-color: @selected;
	color: @background;
}

.notification.critical progress {
	background-color: @selected;
}

.notification.low progress,
.notification.normal progress {
	background-color: @selected;
}
