* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono NF", "Iosevka Nerd Font";
  font-weight: bold;
  font-size: 14px;
  min-height: 10px;
}

@import "theme.css";

window#waybar {
  background: @bar-bg;
}

tooltip {
  background-image: linear-gradient(
    -45deg,
    #fa8bff 0%,
    #fa8bff 52%,
    #2bd2ff 90%
  );
  color: @wb-act-color;
  margin-left: 3px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 3px;
  animation: rotate 20s ease-in-out infinite;
  background-size: 400% 400%;
  transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682);
  border-radius: 9px;
  border-width: 0px;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 9px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 0px;
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 0px;
  color: @main-fg;
}

#workspaces button.active {
  background-image: linear-gradient(
    -45deg,
    #fa8bff 0%,
    #fa8bff 52%,
    #2bd2ff 90%
  );
  color: @wb-act-fg;
  margin-left: 3px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 3px;
  animation: rotate 20s ease-in-out infinite;
  background-size: 400% 400%;
  transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button:hover {
  background: @wb-hvr-bg;
  color: @wb-hvr-fg;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#taskbar button {
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 9px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 0px;
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 0px;
  color: @wb-color;
}

#taskbar button.active {
  background-image: linear-gradient(
    -45deg,
    #fa8bff 0%,
    #fa8bff 52%,
    #2bd2ff 90%
  );
  color: @wb-act-color;
  margin-left: 3px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 3px;
  animation: rotate 20s ease-in-out infinite;
  background-size: 400% 400%;
  transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#taskbar button:hover {
  background: @wb-hvr-bg;
  color: @wb-hvr-color;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#backlight,
#battery,
#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#taskbar,
#tray,
#custom-wbar,
#window,
#custom-weather,
#custom-pacman,
#workspaces {
  color: @main-fg;
  background: @main-bg;
  opacity: 1;
  margin: 4px 0px 4px 0px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 18px;
}

#workspaces,
#taskbar {
  padding: 0px;
}

@keyframes rotate {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

@keyframes blink {
  to {
    background-color: dodgerblue;
    background-image: linear-gradient(
      -45deg,
      #fa8bff 0%,
      #fa8bff 52%,
      #2bd2ff 90%
    );
  }
}

#custom-pacman {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  padding-left: 6px;
  padding-right: 6px;
  color: #669467;
}

#custom-pacman.pending-updates {
  animation-name: blink;
  animation-duration: 3s;
  color: #ffffff;
}
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
