/* Import colors from Wayland */
@import "../../.cache/wal/colors-waybar.css";

/* Set global styles */
* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono NF", "Iosevka Nerd Font";
  font-weight: bold;
  font-size: 14px;
  min-height: 10px;
}

/* Apply styles to the Waybar window */
window#waybar {
  background: transparent;
}

/* Define styles for tooltips */
tooltip {
  background: @color1;
  color: @foreground;
  margin: 3px;
  padding: 0 12px;
  border-width: 2px;
  border-style: solid;
  border-color: @color1;
  border-radius: 9px;
  transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682);
  box-shadow: none;
}

/* Styles for workspace buttons */
#workspaces button,
#taskbar button {
  box-shadow: none;
  text-shadow: none;
  border-radius: 9px;
  margin: 3px 0px;
  padding: 4px 10px;
  color: @foreground;
}

#workspaces button.active,
#taskbar button.active {
  transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682);
  color: @foreground;
  background: @color2;
}

/* Hover effect for workspace buttons */
#workspaces button:hover,
#taskbar button:hover {
  background: @color3;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

/* Additional element styles */
#backlight,
#battery,
#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#taskbar,
#tray,
#custom-wbar,
#window,
#custom-weather,
#custom-pacman,
#custom-cava,
#workspaces {
  color: @foreground;
  opacity: 1;
  padding: 0 6px;
  border-radius: 9px;
  margin: 3px 0px;
  padding: 4px 10px;
}

/* Fine-tuning for specific elements */
#workspaces,
#taskbar {
  padding: 0px;
}

/* Animation for pacman */
#custom-pacman {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-pacman.pending-updates {
  animation-name: blink;
  animation-duration: 3s;
  color: @foreground;
}

/* Battery critical animation */
#battery.critical:not(.charging) {
  background-color: @color2;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Define keyframes */

@keyframes blink {
  to {
    background-color: @color4;
  }
}
