configuration{
    modi: "drun,window";
    lines: 5;
    font: "Victor Mono 14";
    show-icons: true;
    icon-theme: "Oranchelo";
    terminal: "st";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "   Apps ";
    display-window: " 﩯  window";
    sidebar-mode: true;
}

@theme "windows11-list-dark"
