configuration{
    modi: "window,drun";
    show-icons: true;
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "";
    display-window: "";
    sidebar-mode: true;
    drun-display-format:  "{name}";
	window-format:        "{w} · {c} · {t}";
}

@theme "whitesur"
