configuration{
    modi: "drun";
    font: "Iosevka Nerd Font 13";
    show-icons: true;
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "";
}

@theme "catppuccin-mocha"
