input#vomnibarInput.vimiumReset {
  color: #ebdbb2 !important;
  background-color: #282828 !important;
}

#vomnibar {
  border-color: #282828;
  background-color: #282828;
  border-radius: 50px;
  border: none;
  box-shadow: 0px 4px 40px rgba(50, 50, 50, 0.55);
  top: 30px;
  max-width: 650px;
  width: calc(100% - 62px);
  margin: 0 auto;
  left: 0;
  right: 0;
}

#vomnibar .vomnibarSearchArea {
  background-color: #282828;
  border-bottom: #282828;
  background: none;
  border-radius: 0;
  border: none;
  padding: 0;
}

#vomnibar input {
  border-color: #282828;
  color: #ebdbb2;
  background-color: #282828;
  border-radius: 5px;
  border: none;
  box-shadow: none;
  font-size: 18px;
  height: 50px;
  margin: 0;
  outline: none;
  padding: 0 15px;
  vertical-align: middle;
}

#vomnibar ul {
  background-color: #282828;
  margin: 0;
}

#vomnibar li {
  border-bottom: #282828;
}

#vomnibar li .vomnibarUrl {
  color: #fe8019;
}

#vomnibar li .vomnibarMatch {
  color: #fabd2f;
}

#vomnibar li.vomnibarSelected {
  background-color: #3c3836;
}

#vomnibar li em .vomnibarMatch, #vomnibar li .vomnibarTitle .vomnibarMatch {
  color: #fe8019;
}

#vomnibar li em, #vomnibar li .vomnibarTitle {
  color: #ebdbb2;
}
